<div th:fragment="header">
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container">
            <a class="navbar-brand" href="/">Job4jDreamJob</a>
            <div class="collapse navbar-collapse">
                <div class="navbar-nav">
                    <a class="nav-item nav-link" href="/">Glavnaja</a>
                    <a class="nav-item nav-link active" th:href="@{/vacancies}">Vakansii</a>
                    <a class="nav-item nav-link active" th:href="@{/candidates}">Kandidaty</a>
                    <a class="nav-item nav-link active" th:href="@{/vacancies/create}">Sozdat' vakansiju</a>
                    <a class="nav-item nav-link active" th:href="@{/candidates/create}">Sozdat' rezjume</a>
                </div>
            </div>
        </div>
    </nav>
</div>